@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');

body {
    font-family: 'Rock 3D', sans-serif;
    color: yellow;
    text-align: center;
    font-weight: 600;
    font-size: 60px;
    padding: 50px;
    background-color: black;

}

.divBox {
    background-color: white;
    display: grid;
    grid: auto/auto auto auto;
    grid-gap: 10px; 
    width: 400px;
    height: 400px; 
    margin: 0 auto;

}

.box {
    background-color: black;
    font-size: 40px; 
    aspect-ratio: 1;
    justify-content: center;

  }

.cells:hover{
    background-color: white;

  }


.playerScore {
    font-size: 30px;
  }

button{
    margin-bottom: 50px;
}