@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');

body {
    font-family: 'Rock 3D', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 60px;
    padding: 50px;
    background-color: lightcyan;

}

.divBox {
    background-color: black;
    display: grid;
    grid: auto/auto auto auto;
    grid-gap: 20px; 
    width: 500px;
    height: 500px; 
    margin: 0 auto;

}

.box {
    background-color: white;
    font-size: 40px; 
    aspect-ratio: 1;
    justify-content: center;

  }

  .cells:hover{
      background-color: black;

  }

  #players {
      font-size: 30px;
  }
